$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

$neon-green-active: 0px 0px 30px 2px hsl(150, 70%, 61%);

$breakpoint-desktop: 1440px;
$breakpoint-mobile: 590px;