@import './reset';
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  background-color: $dark-blue;
  font-family: 'Manrope', sans-serif;
}

.layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advice {
  width: 550px;
  height: 330px;
  position: relative;
  border-radius: 15px;
  margin: auto;
  padding: 2em 1.2em;
  background-color: $dark-grayish-blue;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__header {
    padding-top: 1.5em;
    color: $neon-green;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3em;
  }

  &__text {
    padding: 0.8em;
    color: $light-cyan;
    font-size: 27px;
  }

  &__footer {
    position: absolute;
    top: 15em;
    margin-right: 1em;

    .dice {
      width: 5em;
      height: 5em;
      border-radius: 50%;
      background-color: $neon-green;
      margin: 2.5em;
      border: none;
    }

    .dice:hover {
      box-shadow: $neon-green-active;
    }
    
    .dice:active {
      box-shadow: $neon-green-active;
      transform: scale(1.1);
    }
  }
}