@import './reset';

@import url(https://fonts.google.com/specimen/Manrope);

body {
  height: 100%;
  background-color: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
}

.advice {
  width: 500px;
  height: 250px;
  border-radius: 15px;

  position: absolute;
  top: 0;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding: 2em;
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  text-align: center;

  &__header {
    color: hsl(150, 100%, 66%);
    font-size: 18px;
    text-transform: uppercase;
  }

  &__text {
    padding: 1em;
    color: hsl(193, 38%, 86%);
    font-size: 24px;
    font-weight: 800;
  }
}