@import './reset';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  width: 100%;
  height: 100%;
  background-color: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
}

.layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advice {
  width: 550px;
  height: 330px;
  position: relative;
  border-radius: 15px;
  margin: auto;
  padding: 2em 1.2em;
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  text-align: center;

  &__header {
    padding-top: 1.5em;
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3em;
  }

  &__text {
    padding: 0.8em;
    color: hsl(193, 38%, 86%);
    font-size: 27px;
  }

  &__footer {
    position: absolute;
    top: 15em;
    margin-right: 1em;

    .dice {
      width: 5em;
      height: 5em;
      border-radius: 50%;
      background-color: hsl(150, 100%, 66%);
      margin: 2.5em;
      border: none;
    }

    .dice:hover {
      box-shadow: 0px 0px 30px 2px hsl(150, 70%, 61%);
      transform: scale(1.05);
      transition: all 0.2s ease-in;
    }
  }
}